<header class="vlprimary text-white body-font">
  <div class="container mx-auto flex flex-wrap p-2 flex-col md:flex-row items-center justify-between">
    <div class="flex items-center">
      <a href="/">
        <div class="flex items-center">
          <img src="/static/VL360-LongLogo.png" class="h-10" alt="VL360-Interactive Logo">
        </div>
      </a>
    </div>
    <H1 class="font-bold"><span class="vlsecondarytext">Coming Soon!</span> Site Is Currently Under Development</H1>
  </div>
  <div class="h-1 w-full vlsecondary"> </div>
</header>
